<div class="row ">

    <div [ngClass]="isSidePanelVisble ? 'col-8':'col-12' ">
        <div class="card">
            <div class="card-header bg-primary">
                <div class="row">
                    <div class="col-6 ">
                        Product List
                    </div>
                    <div class="col-6 text-end">
                        <button type="button" class="btn btn-sm btn-success" value=""
                            (click)="opensidepanel()">New</button>
                    </div>
                </div>

            </div>
            <div class="card-body ">
                <div class="row">
                    
                    <div class="col-3" *ngFor="let items of productList" >

                        <div class="card" >
                            <img class="card-img-top" [src]="items.imageFile" alt="Card image" style="height: 100px;width: 120px;">
                            
                            <div class="card-body">
                                <h4 class="card-title">{{items.productName}}</h4>
                                <p class="card-text">{{items.productDescription}}</p>
                                
                                <h4> {{items.productPrice}} BD</h4>
                                <p>{{items.delevaryTimeSpan}} </p>
                                <a class="btn  btn-primary" (click)="onEdit(items)"> Edit</a>
                                 <a class="btn  btn-danger mx-2"(click)="onDelete(items)" > Delete</a>
                            </div>
                        </div>
                         

                    </div>
                  

                </div>

            </div>
        </div>
    </div>

    <div class="col-4" *ngIf="isSidePanelVisble">

        <div class="card">
            <div class="card-header bg-primary">
                <div class="row">
                    <div class="col-6">
                        New Product Add
                    </div>
                    <div class="col-6 text-end">
                        <button type="button" class="btn btn-sm btn-success " value=""
                            (click)="closesidepanel()">close</button>
                    </div>
                </div>

            </div>
            <div class="card-body ">
                <div class="row">
                   
                     <div class="col-6">
                        <label for=""> product Name</label>
                        <input type="text" class="form-control" [(ngModel)]="productObj.productName">
                    </div>
                     <div class="col-6">
                        <label for="">Short Name</label>
                        <input type="text"  class="form-control" [(ngModel)]="productObj.productShortName">
                    </div>
                      <div class="col-6">
                        <label for="">Category</label>
                        <select   class="form-select" [(ngModel)]="productObj.category_ID" >
                            <option *ngFor="let items of categoryList" [value]="items.categoryId"> {{items.categoryName}}</option>

                        </select>
                       
                    </div>
                     <div class="col-6">
                        <label for="">price</label>
                        <input type="text"  class="form-control"[(ngModel)]="productObj.productPrice">
                    </div>
                   
                     <div class="col-6">
                        <label for="">Delivery Time span</label>
                        <input type="text" class="form-control" [(ngModel)]="productObj.delevaryTimeSpan">
                    </div>
                     <div class="col-6">
                        <label for="">Image Url</label>
                        <input type="text" class="form-control" [(ngModel)]="productObj.imageFile">
                    </div>
                      <div class="row">
                         <div class="col-12">
                        <label for="">Product Description</label>
                        <textarea rows="4" class="form-control" [(ngModel)]="productObj.productDescription"></textarea>
                       
                      </div>
                      <div class="row">
                        <div class="col-6">
                          <button type="submit" class="btn btn-primary">reset</button>
                        </div>
                        <div class="col-6">
                          <button type="submit" class="btn btn-secondary" *ngIf="productObj.productId==0" (click)="onSave()" >Create product  </button>
                          <button type="submit" class="btn btn-secondary" *ngIf="productObj.productId !==0" (click)="onUpdate()" >Update product  </button>


                        </div>
                      </div>
                   
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>