<div class="container-fluid py-5">
    <diV class="container py-5">
        <div class="text-center mx-auto mb-5" style="max-width: 700px;">
          <h1 class="display-4">BestSeller Products</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium assumenda animi atque doloribus asperiores sequi cumque ea totam provident consectetur, doloremque fugit dolorum pariatur sit quos quibusdam temporibus, perferendis, tempora magni accusamus.
             Quo autem voluptates ipsum nisi. Amet, vel quo?</p>
        </div>
         <div class="row">
            <div class="col-lg-6 col-xl-4 ">
                <div class="p-4 rounded bg-info bg-opacity-25">
                   <div class="row align-items-center">
                     <div class="col-6">
                      <img class="img-fluid rounded-circle w-100" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRe9GDXHISG0UfxjhR0JrUS8jDHwR4EGMcD5g&s">
                     </div>
                     <div class="col-6">
                        <a href="#"> Organic product</a>
                        <div class="d-flex my-3">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>

                     </div>
                   </div>
                </div>

            </div>

         </div>
    </diV>

</div>
