
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6"> 
      <!-- Card responsive column -->
      <div class="card bg-success bg-opacity-50 shadow-lg p-4">
        <form>
          <h4 class="text-center mb-4">Forgot Password</h4>

          <!-- Send OTP Form -->
          <ng-container *ngIf="!isResetFromVisisable">
            <div class="row mb-3">
              <div class="col-12">
                <input type="text" class="form-control text-center"[(ngModel)]="emailId"  placeholder="Email" name="email">
              </div>
            </div>
            <div class="row">
              <div class="col-8 text-end">
                <button class="btn btn-primary px-5" (click)="sentOtp()">Send Otp</button>

              </div>
               <div class="col-4 text-end">
                 <a class="btn " type="submit" routerLink="/login">Are you login?</a>
              </div>
            </div>
          </ng-container>

          <!-- Reset Password Form -->
          <ng-container *ngIf="isResetFromVisisable">
            <div class="row mb-3">
              <div class="col-12 my-1">
                <input type="email" class="form-control text-center" [(ngModel)]="resetObj.email" placeholder="Email" name="email">
              </div>
               <div class="col-12 my-1">
                <input type="text" class="form-control text-center"[(ngModel)]="resetObj.otpCode" placeholder="OTP" name="otp">
              </div>
              <div class="col-12 my-1">
                <input type="password" class="form-control text-center"[(ngModel)]="resetObj.newPassword" placeholder="New Password" name="password">
              </div>
            </div>
            
            <div class="row">
              <div class="col-8 text-end">
                <button class="btn btn-info px-5" type="submit" (click)="resetPassword()">Reset Password</button>
              </div>
              <div class="col-4 text-end">
                 <a class="btn " type="submit" routerLink="/login">Are you login?</a>
              </div>
              
            </div>
           
          </ng-container>
        </form>
      </div>
    </div>
  </div>
</div>

